* {
    margin : 0 ;
    padding: 0 ;
}

/* Header */

header {
    height:60px ; 
    width: 100%;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Header_nav {
    display: flex;
    padding-left:5% ;
}
.Header_nav_iitems {
    background:rgb(137, 10, 31);
    padding:10px ;
    margin: 0 10px;
}
.Header_Right{
    padding-right:5% ;
    display: flex;
}
.Header_Right_items{
    background:rgb(137, 10, 31);
    margin: 0 10px;
    padding:10px ;
}
.Main_frame {
    height:60vh ; 
    width: 60%;
    background:pink;
    margin:20px auto;
    img {

    }
}
footer {
    /* height:22vh ;  */
    width: 90%;
    margin: auto;
    padding: 20px 0 ;
    background:yellow;
}
.Footer_title {

}
.Footer_lists {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Footer_items {
    background:rgb(137, 10, 31);
    margin: 0 10px;
    padding:20px 40px ;

}